body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.review {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}


.rating {
    color: #f39c12; /* Star color */
    font-size: 24px;
}

.star {
    margin-right: 5px;
}

.empty-star {
    margin-right: 5px;
    color: #ccc; /* Empty star color */
}

p {
    margin: 10px 0;
}

.gratitude {
    text-align: center;
    margin-top: 30px;
}

.gratitude h2 {
    color: #27ae60; /* Gratitude heading color */
}

.gratitude p {
    color: #555;
}